@import url('https://fonts.googleapis.com/css2?family=Datatype:wdth,wght@127.9,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    
}

.banner {
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url(../assets/imgs/BannerMIBR.jpg);
    height: 800px;
}

.box {
    width: 40%;
}

.CamposNomeEmail {
    display: flex;
    width: 100%;
    gap: 10%;

}