body {
    background-color: black;
}

.conteudoDaPágina {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    border-bottom: 1px solid #FFFFFF;
}

.BoxConteudo {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.BoxTitulo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    border-radius: 0 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: -5px -5px 3px 12px rgb(219, 38, 2);
}

.BoxTitulo p {
    color: #DB2602;
    font-weight: bolder;
    font-size: 50px;
}

.BoxDescricao {
    width: 50%;
    height: 90%;
    width: 50%;
    font-size: 23px;
    padding: 15px;
    border-radius: 10px 10px 0 10px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 10px -10px 3px 0px rgb(219, 38, 2);
}

.BoxDescricao {
    color: #FFFFFF;
}


.BoxInvertido {
    flex-direction: row-reverse;
}

.BoxTituloInvertido {
    box-shadow: 5px -5px 3px 12px rgb(219, 38, 2);
    border-radius: 10px 0px 10px 10px;
}


.BoxDescricaoInvertido {
    border-radius: 0px 10px 10 10px;
    box-shadow: -10px -10px 3px 0px rgb(219, 38, 2);
}


