.barraNavegacao {
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    border-bottom: 1px solid #FFFFFF;
}

.barraNavegacao a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 17px;
    transition: 0.5s;
    cursor: pointer;
}

.barraNavegacao a:hover {
    rotate: 5deg;
    color: #DB2602;
}

.BarraSelecionada {
    rotate: 5deg;
    color: #DB2602;
}

.BarraNaoSelecionada {
    color: #FFFFFF;
}